.App {
  text-align: center;
} 

Nav {
  display: Flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background: orange;
  color: orange;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color:
}

.Footer {
 
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items:center;
  background-color: rgb(36,72,142);
  min-height: 12vh;
 
 
}

.Form {
  min-height: 5vh;
}

.nba_logo{
max-height: 100px;
max-width: 100px;

}

.Heat {
max-height: 100px;
max-width: 100px;
}

.Warriors {
  max-height: 100px;
max-width: 100px;
}
.Celtics {
  max-height: 100px;
  max-width: 100px;
}
.Mavericks {
  max-height: 100px;
  max-width: 100px;
}